{% extends "base.html" %}
{% load i18n %}

{% block section %}customer-login without-padding{% endblock %}
{% block left-slot-wrapper %}{% endblock %}
{% block right-slot-wrapper %}{% endblock %}

{% block content %}
    <h1>
        {% trans 'Please select!' %}
    </h1>
    
    <div class="login">        
        <h2 class="authenticate">{% trans 'Login' %}</h2>
        
        <div class="description">
            {% trans 'If you are already customer you can login. Your adress data will then already known.' %}
        </div>

        <form class="authenticate" 
              action="{% url lfs_login %}"
              method="post">
            
            <div class="form">
                <table>  
                    {{ login_form }}
                    <tr>
                        <td></td>
                        <td>
                            <a href="{% url lfs_password_reset %}">{% trans 'Forgot password?' %}</a>
                        </td>
                    </tr>
                </table>
            </div>
            
            <input type="hidden"
                   name="action"
                   value="login" />

            <input type="hidden"
                   name="next"
                   value="{{ next_url }}" />

            <input type="image"
                   src="{{MEDIA_URL}}lfstheme/img/button_login.jpg" />
        
        </form>
    </div>    

    <div class="register">    
        <h2 class="authenticate">{% trans 'Register' %}</h2>

        <div class="description">
            {% trans 'If you are not already a customer you can register in order to store your address data and to follow the state of your orders.' %}
        </div>
    
        <form action="{% url lfs_login %}"
              method="post">
                <div class="form">
                    <table>
                        {{ register_form }}
                    </table>
                </div>
                <input type="hidden"
                       name="action"
                       value="register" />

                <input type="hidden"
                       name="next"
                       value="{{ next_url }}" />

                <input type="image"
                       src="{{MEDIA_URL}}lfstheme/img/button_register.jpg" />
        </form>

    </div>
    
    {% if anonymous_checkout %}
        <div class="anonymous-checkout">
            <h2 class="authenticate">{% trans 'Checkout' %}</h2>
            
            <div class="description">
                {% trans 'You can also checkout without login or registration.' %}
            </div>

            <div class="form">&nbsp;</div>
            
            <a href="{% url lfs_checkout %}">
                <img src="{{MEDIA_URL}}lfstheme/img/button_checkout.jpg" 
                     alt="{% trans 'Checkout' %}" />

        </div>    
    {% endif %}
{% endblock %}
