{% extends "base.html" %}
{% load i18n lfs_tags %}

{% block title %}Thank you!{% endblock %}
{% block section %}thank-you without-padding{% endblock %}
{% block left-slot-wrapper %}{% endblock %}
{% block right-slot-wrapper %}{% endblock %}

{% block after-tabs %}
    {% breadcrumbs _("Thank you") %}
{% endblock %}

{% block content %}
    <h1>{% trans 'Thank you' %}</h1>
{% endblock %}

{% block google-analytics-tracking %}{% endblock %}
{% block google-analytics-ecommerce %}
    {% google_analytics_ecommerce %}
{% endblock %}