{% extends "base.html" %}
{% load lfs_tags %}
{% load lfs_page_tags %}
{% load lfs_tagging_tags %}
{% load portlets_tags %}

{% block title %}
    {{product.name}}
{% endblock %}

{% block section %}product{% endblock %}

{% block head %}
    {% if product.get_meta_keywords %}
        <meta name="keywords" content="{{product.get_meta_keywords}}" />
    {% endif %}
    {% if product.get_meta_description %}
        <meta name="description" content="{{product.get_meta_description}}" />
    {% endif %}
{% endblock %}

{% block left-slot %}
    {% categories_portlet %}
    {% pages_portlet %}
    {% recent_products_portlet %}
    {% portlet_slot 'Left' product %}
{% endblock %}

{% block after-tabs %}
    {% product_breadcrumbs product %}
{% endblock %}

{% block right-slot %}
    {% related_products_portlet product.id %}
    {% portlet_slot 'Right' product %}    
{% endblock %}

{# {% block footer %} #}
{#     {% related_products_by_tags product.id %}     #}
{# {% endblock %} #}