{% load i18n %}
<div class="product-navigation">
    {% if display %}
        {% if previous %}
            <a href="{% url lfs_product previous %}">&lt;&lt; {% trans 'Previous article' %}</a>
        {% else %}
            &lt;&lt; {% trans 'Previous article' %}
        {% endif %}
        - {{current}} {% trans 'of' %} {{total}} -
        {% if next %}
            <a href="{% url lfs_product next %}">{% trans 'Next article' %} &gt;&gt;</a>
        {% else %}
            {% trans 'Next article' %} &gt;&gt; 
        {% endif %}    
    {% endif %}
</div>